@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    box-sizing: border-box;
    hyphens: auto;
}

html, body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* album */
.col:has( > .img-box) {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    gap: .5rem;
}

.img-box {
    width: 100px;
    aspect-ratio: 1;
    overflow: hidden;
}

.img-box > .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale 500ms;
}

.img-box > .img:hover {
    scale: 2;
    z-index: 2;
}

/* képnézegető */
.img-viewer {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    width: 100vw;
    height: 100vh;
    aspect-ratio: 4 / 3;
}

.img-viewer-flex {
    display: flex;
}

.img-viewer-open {
    animation: opacity 1s;
}

@keyframes opacity {
    from { opacity: 0; }
    to { opacity: 1; }
}

.img-viewer-exit {
    animation: opacity-exit 1s;
}

@keyframes opacity-exit {
    from { opacity: 1; }
    to { opacity: 0; }
}

.img-viewer-box {
    display: flex;
    width: 100%;
    height: 100%;
}

.img-item {
    display: flex;
    align-items: center;
    width: 80%;
    aspect-ratio: 1;
    overflow: hidden;
}

.img-item > .img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}

.exit-btn {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: calc(100ch / 20);
    cursor: pointer;
}

.bi-x-square {
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.previous-btn, .next-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    color: #000;
    font-size: 3rem;
    font-size: calc(100ch / 20);
    transition: all 500ms;
}

.previous-btn:hover, .next-btn:hover {
    opacity: .8;
}

.bi {
    color: #fff;
    transition: transform 500ms;
}

.bi-arrow-left-circle-fill {
    position: fixed;
    left: 1rem;
}

.bi-arrow-right-circle-fill {
    position: fixed;
    right: 1rem;
}

.previous-btn:hover .bi-arrow-left-circle-fill {
    transform: translateX(-.3rem);
}

.bi-arrow-right-circle-fill:hover {
    transform: translateX(.3rem);
}

@media screen and (max-width: 360px) {
    .col:has( > .img-box) {
        grid-template-columns: 1fr;
        padding: 0 .5rem;
        gap: .5rem;
    }

    .img-box {
        width: 100%!important;
    }

    .col:has( > h1) {
        grid-template-columns: 1fr!important;
        font-size: calc(100ch / 20)!important;
    }
}