@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --main-clr: rgb(255, 252, 244);
    --secondary-clr: rgb(34, 34, 34);
    --third-clr: rgb(109, 62, 7);
    --third-clr-hov: rgb(138, 138, 252);
    --third-clr-active: rgb(89, 89, 214);
    --fourth-clr: #F5F5DC;
    --main-bg: var(--main-clr);
    --main-font-clr: var(--secondary-clr);
    --header-bg: rgba(0, 0, 0, .8);
    --logo-w: 3.75rem;
    --logo-h: 3.75rem;
    --header-mt: 5.375rem;
    --header-h: calc( 100vh - var(--header-mt) );
    --main-py: 5rem;
    --h1-s: calc(1.375rem + 3vw);
    --h2-s: calc(1.325rem + 2vw);
    --h3-s: calc(1.3rem + 1vw);
    --szentsegek-p: calc(.8rem + .6vw);
    --szentseg-clr: var(--third-clr);
    --szentseg-padding: 3rem;
    --szentsegek-box-h: 15.4rem;
}

body {
    background-color: var(--main-bg);
    color: var(--secondary-clr);
}

.main-bg-color {
    background-color: var(--main-clr);
}

.main-font-color {
    color: var(--secondary-clr);
}

.banner {
    background-color: var(--third-clr);
    color: var(--main-clr);
}

a {
    color: var(--third-clr);
}

a:hover {
    color: var(--third-clr-hov);
}

a:active:not(.nav-link) {
    color: var(--third-clr-active);
}

.btn-primary {
    background-color: var(--third-clr);
    border-color: var(--third-clr);
}

.btn-primary:hover {
    background-color: var(--third-clr-hov);
    border-color: var(--third-clr-hov);
}

.btn-primary:active {
    background-color: var(--third-clr-active)!important;
    border-color: var(--third-clr-active)!important;
    color: var(--main-clr)!important;
}

input {
    background-color: var(--main-clr)!important;
    border-color: var(--third-clr)!important;
    color: var(--secondary-clr)!important;
}

input:focus {
    border-color: var(--secondary-clr)!important;
    box-shadow: 0 1px 1px transparent inset, 0 0 8px transparent!important;
    outline: 0 none!important;
}

input::placeholder {
    color: var(--third-clr)!important;
}

.cta-flex {
    display: flex;
    gap: 3rem;
}

.cta-flex-item {
    flex: 1;
}

h1 {
    font-size: var(--h1-s);
}

h2 {
    font-size: var(--h2-s);
    padding-bottom: 2rem;
}

h3 {
    font-size: var(--h3-s);
    hyphens: auto;
}

.main-logo {
    width: var(--logo-w);
    height: var(--logo-h);
}

.main-header {
    height: var(--header-h);
    margin-top: var(--header-mt);
    background: url("../imgs/bg/templom_bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.szentsegek-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--szentseg-clr);
    background-color: var(--main-clr);
    padding: var(--szentseg-padding);
    transition: all .6s;
}

.szentsegek-box > h3 {
    color: var(--szentseg-clr);
}

.szentsegek-box > p {
    font-size: var(--szentsegek-p);
    color: var(--main-font-clr);
}

.szentsegek-link:hover .szentsegek-box {
    background-color: var(--third-clr);
}

.szentsegek-link:hover .szentsegek-box > h3 {
    color: var(--main-clr);
}

.szentsegek-link:hover .szentsegek-box > p {
    color: var(--main-font-clr);
    color: var(--main-clr);
}

#szentsegek > .col:has(a) {
    height: var(--szentsegek-box-h);
}

#szentsegek > .col a, #szentsegek > .col a div {
    height: 100%;
}

main > section:nth-of-type(odd) {
    background-color: var(--fourth-clr);
}

.cta-main-padding {
    padding: var(--main-py) 0;
}

@media screen and (min-width: 857px) {
    .main-header span {
        background-color: rgba(0, 0, 0, 1);
        color: var(--main-clr);
        padding: .5rem 1rem;
    }
}

@media screen and (min-width: 768px) {
    .main-padding {
        padding: var(--main-py) 3rem;
    }
    .cta-padding {
        padding: 0 3rem;
    }
}

@media screen and (min-width: 992px) {
    .main-padding {
        padding: var(--main-py) 6rem;
    }
    .cta-padding {
        padding: 0 6rem;
    }
}

@media screen and (min-width: 1200px) {
    .main-padding {
        padding: var(--main-py) 12rem;
    }
    .cta-padding {
        padding: 0 12rem;
    }
}

@media screen and (min-width: 1400px) {
    .main-padding {
        padding: var(--main-py) 15rem;
    }
    .cta-padding {
        padding: 0 15rem;
    }
}


@media screen and (max-width: 991px) {
    .cta-flex {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (max-width: 856px) {
    .main-header div {
        padding: 0 1rem;
    }
    .main-header h1 {
        background-color: var(--header-bg);
        color: var(--main-clr);
        padding: .5rem 1rem;
    }
}

@media screen and (max-width: 767px) {
    .main-padding {
        padding: var(--main-py) 1rem;
    }
}
